@mixin font-face($font-family, $font-weight) {
	font-family: $font-family;
	font-weight: $font-weight;
}
@mixin main-transition(
	$property: all,
	$delay: 0,
	$duration: 0.3s,
	$timing-function: cubic-bezier(0.4, 0, 0.2, 1)
) {
	transition-property: $property;
	transition-delay: $delay;
	transition-duration: $duration;
	transition-timing-function: $timing-function;
}

@mixin with-default-image() {
	background-image: url($default-work-image);
	background-size: cover;
	background-position: center;
}
