@mixin font-face($font-family, $font-weight) {
	font-family: $font-family;
	font-weight: $font-weight;
}
@mixin main-transition($property: all) {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.3s;
	transition-property: $property;
}
