// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Colors
$primary-accent-color: #72b626;
$dark-background-color: #111111;
$white-color: #ffffff;
$dark-background-menu-color: rgb(37 37 37);
$line-color: rgb(51 51 51);
$dark-background-menu-color-desktop: rgb(43 42 42);

/* Breakpoints */
$breakpoint-tablet: 577px;
$breakpoint-770: 770px;
$breakpoint-desktop: 992px;
$breakpoint-max: 1200px;
