.main {
	display: flex;
	flex-direction: column;

	@media (min-width: $breakpoint-tablet) {
		height: auto;
		align-items: center;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	width: 100%;
	max-width: 400px;
	padding: 100px 25px 50px;

	@media (min-width: $breakpoint-tablet) {
		padding: 0;
	}
}

.title {
	@include font-face($primary-font, 500);

	font-size: 18px;
	text-transform: uppercase;

	@media (min-width: $breakpoint-desktop) {
		font-size: 20px;
	}
}
