.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 48px;

	@media (min-width: $breakpoint-770) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;

	@media (min-width: $breakpoint-tablet) {
		margin-bottom: 48px;
	}
}

.icon {
	font-size: 96px;
	color: $primary-accent-color;
}

.name {
	@include font-face($secondary-font, 400);

	margin-top: 8px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1.6;

	@media (min-width: $breakpoint-tablet) {
		margin-top: 24px;
	}
}
