.commonInput {
	@include font-face($primary-font, 400);

	padding: 11px 26px;
	font-size: 15px;
	line-height: 1.6;
	color: $white-color;
	border: 1px solid rgb(17 17 17);
	border-radius: 30px;
	outline: none;

	&:active {
		@include main-transition();

		border-color: $primary-accent-color;
	}
	&:focus {
		@include main-transition();

		border-color: $primary-accent-color;
	}
}

.primary {
	background-color: $dark-background-menu-color;
}

.secondary {
	background-color: $secondary-background-color;
}

.noResize {
	resize: none;
}
