.form {
	display: grid;
	gap: 30px;
	width: 100%;
	overflow: visible;
}

.notice {
	@include font-face($secondary-font, 500);

	padding: 10px;
	background-color: $dark-background-color;
	font-size: 14px;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
}

.error {
	border-color: $danger-color;
}

.success {
	border-color: $primary-accent-color;
}
