.wrapper {
	position: relative;
	display: grid;
	align-items: center;
	width: 230px;
	height: 55px;
	border: 1px solid $primary-accent-color;
	border-radius: 30px;
	overflow: hidden;

	&::before {
		@include main-transition();

		content: '';
		position: absolute;
		top: 0;
		right: -100%;
		width: 230px;
		height: 55px;
		background-color: $primary-accent-color;
		z-index: -1;
	}

	&:hover::before {
		right: 0;
	}

	a,
	button {
		@include font-face($primary-font, 600);

		display: grid;
		align-items: center;
		width: 100%;
		height: 100%;
		padding-left: 35px;
		font-size: 15px;
		text-transform: uppercase;
		text-decoration-line: none;
		text-decoration: none;
		color: $white-color;
		outline: none;
		border: none;
		background-color: transparent;
		text-align: left;
		cursor: pointer;
	}

	span {
		position: absolute;
		top: -1px;
		right: -2px;
		display: grid;
		align-items: center;
		justify-content: center;
		width: 55px;
		height: 55px;
		color: $white-color;
		background-color: $primary-accent-color;
		border-radius: 50%;
		z-index: -1;

		font-size: 19px;

		svg {
			fill: $white-color;
		}
	}
}
