.container {
	position: relative;
	overflow: visible;
}

.hint {
	@include font-face($secondary-font, 500);

	position: absolute;
	width: 300px;
	padding: 10px;
	border: 1px solid $primary-accent-color;
	z-index: 3;
	background-color: #000000;
	overflow: visible;
	white-space: pre-wrap;
	font-size: 14px;
	border-radius: 5px;

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%) rotate(-45deg);
		width: 24px;
		height: 24px;
		background-color: #000000;
		z-index: -1;
	}

	&.top {
		bottom: calc(100% + 17px);
		right: 0;

		&::after {
			bottom: -13px;
			border-bottom: 1px solid $primary-accent-color;
			border-left: 1px solid $primary-accent-color;
		}
	}

	&.bottom {
		top: calc(100% + 17px);
		right: 0;

		&::after {
			top: -13px;
			border-top: 1px solid $primary-accent-color;
			border-right: 1px solid $primary-accent-color;
		}
	}

	&.green {
		border: 1px solid $primary-accent-color;

		&::after {
			border-color: $primary-accent-color;
		}
	}

	&.red {
		border: 1px solid red;

		&::after {
			border-color: red;
		}
	}
}
