.container {
	width: 100%;
	height: 53.76vw;
	border-radius: 5px;
	overflow: hidden;

	@media (min-width: $breakpoint-tablet) {
		height: 148.02px;
	}

	@media (min-width: $breakpoint-770) {
		height: 203.52px;
	}

	@media (min-width: $breakpoint-desktop) {
		height: 14.65vw;
		border-radius: 10px;
	}

	&:not(.createItem) {
		@include with-default-image();
	}
}

.link {
	width: 100%;
}

.item {
	position: relative;
	width: 100%;
	height: 100%;
}

.caption {
	@include font-face($primary-font, 500);

	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 100%;
	height: 100%;

	background-color: $primary-accent-color;

	font-size: 18px;
	line-height: 1.6;
	text-transform: uppercase;
	text-align: center;
}

.technologies {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	font-size: 14px;
	line-height: 1;
}

.image {
	display: block;

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.createItem {
	border: 1px solid $primary-accent-color;

	& .item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	& .createText {
		font-size: 85px;
		color: $primary-accent-color;
	}
}
